@import "../../styles/global";

.containerHeader {
    background-color: var(--background);
    .warrapHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        max-width: 1440px;
        margin: 0 auto;
        @media (max-width: 1024px) {
            padding: 0 10px;
        }
        > svg {
            fill: var(--font-1);
        }
        nav {
            display: flex;

            ul {
                display: flex;
                align-items: center;
                gap: 40px;

                li {
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 24px;
                    list-style: none;
                    color: var(--font-1);
                    cursor: pointer;

                    &:hover {
                        color: var(--font-2);
                    }
                }
            }
        }
        .warrapRight {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .warrapInput {
            display: flex;
            align-items: center;
            background-color: var(--backgroundinput);
            padding: 8px 16px 8px 16px;
            border-radius: 5px;
            gap: 16px;
            svg {
                color: var(--backgroundsvg1);
                cursor: pointer;
            }

            input {
                background-color: transparent;
                width: 115px;
                height: 20px;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
